Test-Command: find /usr/share/assimp/models/ -type f -exec ./debian/tests/assimp-info {} +
Depends: assimp-utils,
 assimp-testmodels,

Test-Command: ./debian/tests/quicktest.py /usr/share/assimp/models/
Restrictions:
 allow-stderr,
Depends: python3-pyassimp,
 assimp-testmodels,
