Test-Command: find /usr/share/assimp/models/ -type f -exec ./debian/tests/assimp-info {} +
Depends: assimp-utils,
 assimp-testmodels,

Tests: quicktest.py
Depends: python3-pyassimp,
 vtkdata, cube2-data, libcamitk4-data, morse-simulator-data,
