Test-Command: find /usr/share/assimp/models/ -type f -exec ./debian/tests/assimp-info {} +
Depends: assimp-utils,
 assimp-testmodels,

Tests: quicktest.py
Restrictions:
 allow-stderr,
Depends: python3-pyassimp,
 assimp-testmodels,
